extends layout
block content
  h2 RSVP

  include messages

  form(action='/rsvp', method='post')
    .control-group
      label.control-label(for='message_name' ) Your Name
      .controls
        input#message_name.input-xxlarge(type='text', placeholder='Name', name='message[name]', value=message.name)
    .control-group
      label.control-label(for='message_email') Email
      .controls
        input#message_email.input-xxlarge(type='text', placeholder='Email', name='message[email]', value=message.email)
    .control-group
      label.control-label(for='message_code') RSVP Code
      .controls
        input#message_message.input-xxlarge(placeholder='RSVP Code', rows='6', name='message[code]')=message.code
    button.btn(type='submit') RSVP
    h2= text
