extends layout
block content

  div.container
    header.heroimage
      div.container
        div.row
          div.span8.offset2
            img(src='/img/invite.png')

    p &nbsp;

    section.well

      div.row-fluid
        h3.centered RSVP

      div.row-fluid
        div.span12
          include alerts

      div.row
        div.span5
          form#rsvpform(action='/', method='post').form-horizontal
            div.control-group
              label.control-label(for='name') Full Name
              div.controls
                input#message_name.input-xlarge(type='text', placeholder='Name', name='fullname', value=fullname)

            div.control-group
              label.control-label(for='email') Email&dagger;
              div.controls
                input#message_email.input-xlarge(type='text', placeholder='Email', name='email', value=email)

            div.control-group
              label.control-label(for='code') Code
              div.controls
                input#message_message.input-xlarge(type='text', placeholder='RSVP', name='code', value=code)
            
            div.control-group
              label.control-label(for='submit')
              div.controls
                button#submit.btn.btn-large.btn-inverse(name='submit', type='submit') Submit
          
        div.span5.offset1
          p Note this is a private, invitation&hyphen;only party. You should have received your RSVP code in email. 
          p As there are a limited number of spaces available, RSVP early. No need to send your regrets if you can&rsquo;t make it.
          p If you&rsquo;re having trouble with the form, <a href="mailto:scott@vertigo.com">send me a note</a>.
          p &dagger;Your email won&rsquo;t be shared. We&rsquo;ll onlyonly  use it to communicate details about the party.

    p &nbsp;

    section.well
      div.row-fluid
        div.span6.offset3
            h2.centered How to Get Here

      div.row.padded-tb
        div.span10.offset1.transparent
          div.padded
            p If you're coming from the <a href='http://www.buildwindows.com'>BUILD conference</a> in San Francisco, your goal is to go from the circle to the star&hellip;using public transportation. 
            img(src='/img/1909map-960.jpg')
            p &nbsp;
            p This is easy with our local subway, <a href='http://www.bart.gov', target='_blank'>BART</a>&Dagger;
            ol
              li Head to the POWELL street or MONTGOMERY street station (both on Market St)
              li Purchase a $3.75 ticket (or $7.50 for round-trip)
              li Catch a RICHMOND train (red line) to NORTH BERKELEY
              li Exit and either wait for the shuttle bus, or just walk the four blocks.
            p Here is the <a href="http://bit.ly/bart-jun26">exact schedule</a> you need.

      div.row.padded-b.pagination-centered
        div.span5.offset1.padded-t
          h3 1) Take BART
          img(src='/img/bart.png').img-polaroid.filters
        div.span5.padded-t
          h3 2) Private Shuttle or Walk  
          img(src='/img/walking.png').img-polaroid.filters
     

      div.row
        div.span10.offset1
          div.padded
            h2.centered &sect;
            small
              p &Dagger;Use BART for several reasons:
              div.row-fluid
                span.span6
                  ul
                    li Driving the Bay Bridge during rush-hour is ill&hyphen;advised
                    li The conference is 1 block from Powell St Station 
                    li Your sponsors are generously providing the North Berkeley to Albina shuttle
                span.span6
                  ul
                    li Very little on-street parking at my house
                    li You can enjoy more adult beverages
                    li <i>transport public est à la mode</i>

    section.well
      div.row-fluid
        div.span5.offset1
          blockquote 
            p I like small parties. They're so intimate. At small parties there isn't any privacy.
            small F. Scott Fitzgerald
        div.span5
          div.rslides_container
            ul#slider1.rslides
              li
                img(src='img/rsvp-house/albina-1.jpg')
              li
                img(src='img/rsvp-house/albina-2.jpg')
              li
                img(src='img/rsvp-house/albina-3.jpg')
              li
                img(src='img/rsvp-house/albina-4.jpg')
              li
                img(src='img/rsvp-house/albina-5.jpg')
              li
                img(src='img/rsvp-house/albina-6.jpg')
              li
                img(src='img/rsvp-house/albina-7.jpg')
              li
                img(src='img/rsvp-house/albina-8.jpg')
              li
                img(src='img/rsvp-house/albina-9.jpg')
              li
                img(src='img/rsvp-house/albina-10.jpg')
              li
                img(src='img/rsvp-house/albina-11.jpg')
              li
                img(src='img/rsvp-house/albina-12.jpg')


