extends layout
block content

  div.container
    header.heroimage
      div.container
        div.row-fluid
          div.span8.offset2
            img(src='/img/invite.png')

    p &nbsp;

    section.well

      div.row-fluid
        h1.centered RSVP
        h3.centered Wednesday, June 26th 6pm to 11pm

      div.row-fluid
        div.span12
          include alerts

      div.row
        div.span5
          form#rsvpform(action='/', method='post').form-horizontal
            div.control-group
              label.control-label(for='name') Full Name
              div.controls
                input#message_name.input-xlarge(type='text', placeholder='Name', name='fullname', value=fullname, autofocus='autofocus')

            div.control-group
              label.control-label(for='email') Email&dagger;
              div.controls
                input#message_email.input-xlarge(type='text', placeholder='Email', name='email', value=email)

            div.control-group
              label.control-label(for='code') Code
              div.controls
                input#message_message.input-xlarge(type='text', placeholder='RSVP', name='code', value=code, autocapitalize='off', autocorrect='off', autocomplete='off')
            
            div.control-group
              label.control-label(for='submit')
              div.controls
                button#submit.btn.btn-large.btn-inverse(name='submit', type='submit') Submit
          
        div.span5.offset1
          p Note this is a private, invitation&hyphen;only party. You should have received your RSVP code in email. 
          p As there are a limited number of spaces available, RSVP early. No need to send your regrets if you can&rsquo;t make it.
          p If you&rsquo;re having trouble with the form, <a href="mailto:scott@vertigo.com">send me a note</a>.
          p &dagger;Your email won&rsquo;t be shared. We&rsquo;ll only use it to communicate details about the party.

    p &nbsp;

    section.well
      div.row-fluid
        div.span6.offset3
            h1.centered How to Get Here

      div.row-fluid
        div.span10.offset1.transparent
          div.padded
            p If you're coming from the <a href='http://www.buildwindows.com'>BUILD conference</a> in San Francisco, your goal is to go from the circle to the star&hellip;using public transportation. 
            a(href='/img/1909map-960.jpg')
              img(src='/img/1909map-960.jpg')
            p &nbsp;
            p This is easy with our local subway, <a href='http://www.bart.gov', target='_blank'>BART</a>&Dagger;
            ol
              li Head to the POWELL street or MONTGOMERY street station (both on Market St)
              li Purchase a $3.75 ticket (or $7.50 for round-trip)
              li Catch a RICHMOND train (red line) to NORTH BERKELEY
              li Exit and either wait for the shuttle bus, or just walk the four blocks.
            p Here is the <a href="http://bit.ly/bart-jun26">exact schedule</a> you need.

      div.row-fluid.centered
        div.span5.offset1.padded-t
          h4 1) Take BART
          img(src='/img/bart.png').filters
        div.span5.padded-t
          h4 2) Private Shuttle or Walk  
          img(src='/img/walking.png').filters
     
      div.row-fluid
        div.span10.offset1
          div.padded
            h2.centered &sect;
            small
              p &Dagger;Use BART for several reasons:
              div.row-fluid
                span.span6
                  ul
                    li Driving the Bay Bridge during rush-hour is ill&hyphen;advised
                    li The conference is one block from Powell St Station 
                    li Your sponsors are generously providing the North Berkeley to Albina shuttle
                span.span6
                  ul
                    li Very little on-street parking at my house
                    li You can enjoy more adult beverages
                    li <i>Transport public est à la mode</i>

    section.well
      div.row-fluid
        div.span6.offset3
          h1.centered Our Sponsors
          p &nbsp;
      div.row
        div.span12
          ul.thumbnails
            li
              a.thumbnail.span3(href="http://www.devexpress.com", target="_blank")
                img(src="/img/logos/devexpress.png")
                h5.centered.gold GOLD SPONSOR
                p &nbsp;
            li
              a.thumbnail.span2(href="http://www.devintersection.com", target="_blank")
                img(src="/img/logos/devintersection.png")
            li
              a.thumbnail.span2(href="http://www.dynamicwebusa.com", target="_blank")
                img(src="/img/logos/dynamicweb.png")
            li
              a.thumbnail.span2(href="http://www.oreilly.com", target="_blank")
                img(src="/img/logos/oreilly.png")
            li
              a.thumbnail.span2(href="http://www.preemptive.com", target="_blank")
                img(src="/img/logos/preemptive.png")
            li
              a.thumbnail.span2(href="http://www.codeproject.com", target="_blank")
                img(src="/img/logos/codeproject.png")
            li
              a.thumbnail.span2(href="http://www.vertigo.com", target="_blank")
                img(src="/img/logos/vertigo.png")

    section.well
      div.row-fluid
        div.span6.offset3
          h1.centered &
          p &nbsp;
      div.row-fluid
        div.span5.offset1
          blockquote 
            legend I like small parties. They&rsquo;re so intimate. At small parties there isn&rsquo;t any privacy.
            h6 F. Scott Fitzgerald

        div.span5
          div.rslides_container
            ul#slider1.rslides
              li
                img(src='img/rsvp-house/albina-1.jpg')
              li
                img(src='img/rsvp-house/albina-2.jpg')
              li
                img(src='img/rsvp-house/albina-4.jpg')
              li
                img(src='img/rsvp-house/albina-5.jpg')
              li
                img(src='img/rsvp-house/albina-8.jpg')
              li
                img(src='img/rsvp-house/albina-9.jpg')
              li
                img(src='img/rsvp-house/albina-10.jpg')
              li
                img(src='img/rsvp-house/albina-11.jpg')
