extends layout
block content
  h2 RSVP

  include alerts

  form(action='/rsvp', method='post')
    .control-group
      label.control-label(for='name' ) Your Name
      .controls
        input#message_name.input-xxlarge(type='text', placeholder='Name', name='fullname', value=fullname)

    .control-group
      label.control-label(for='email') Email
      .controls
        input#message_email.input-xxlarge(type='text', placeholder='Email', name='email', value=email)

    .control-group
      label.control-label(for='code') RSVP Code
      .controls
        input#message_message.input-xxlarge(placeholder='RSVP Code', rows='6', name='code', value=code)

    button.btn(type='submit') RSVP
    h2= text
