extends layout
block content

  div.container
    header.wellx.heroimage
      div.container
        div.welcome
          h2 InterFax - Responsive One Page theme
          p This is a bootstrap responsive theme

    section.well
      include alerts

      div
        form(action='/', method='post').form-horizontal
          .control-group
            label.control-label(for='name' ) Your Name
            .controls
              input#message_name.input-xlarge(type='text', placeholder='Name', name='fullname', value=fullname)

          .control-group
            label.control-label(for='email') Email
            .controls
              input#message_email.input-xlarge(type='text', placeholder='Email', name='email', value=email)

          .control-group
            label.control-label(for='code') RSVP Code
            .controls
              input#message_message.input-xlarge(type='RSVP Code', placeholder='RSVP', name='code', value=code)

          button.btn.btn-primary(type='submit') RSVP

    section.well
      p driving directions here

      h2 RSVP for the Stanfield's RD Party
      p Here is some body text, set in Georgia.

