ul.errors
  margin-top: 10px
  
.transparent
    background-color rgba(255, 255, 255, 0.3)

.heroimage
    width 100% 
    background url('/img/ss-house1170.jpg') no-repeat top center #b1d95c

header
    color #fefefe

.well-nopadding
    padding 0

// .wellx 
//     min-height  20px 
//     margin-bottom  20px 
//     background-color  #ffffff 
//     border  1px solid #ededed 
//     -webkit-border-radius  0 
//     -moz-border-radius  0 
//     border-radius  0 
//     -webkit-box-shadow  inset 0 1px 1px rgba(0, 0, 0, 0.05)
//     -moz-box-shadow  inset 0 1px 1px rgba(0, 0, 0, 0.05)
//     box-shadow  inset 0 1px 1px rgba(0, 0, 0, 0.05)

.section-directions
    background url('/img/tile.png') repeat #b1d95c
    
.padded-tb
    padding 30px 0

.padded-b
    padding-bottom 40px

.padded-t
    padding-top 30px

.padded
    padding 20px 30px

// [class*="span"] {background: #EEF; }
// [class*="span"] [class*="span"] {background: #FEE; }


[class^="span"] {background-color: rgba(255, 0, 0, 0.3); }
