ul.errors
  margin-top: 10px
  
.transparent
    background-color rgba(255, 255, 255, 0.3)

.heroimage
    width 100% 
    background url('/img/ss-house1170.jpg') no-repeat top center #b1d95c


header
    color hsl(50,48%,56%)

.section-directions
    background url('/img/tile.png') repeat #b1d95c

body
    background url('/img/tile.png') repeat #b1d95c

.padded-tb
    padding 30px 0

.padded-b
    padding-bottom 40px

.padded-t
    padding-top 30px

.padded
    padding 20px 30px

.well
    background-color hsl(51,48%,69%)

.centered
    text-align center

.filters
    -webkit-filter sepia(50%)
        

// [class*="span"] {background: #EEF; }
// [class*="span"] [class*="span"] {background: #FEE; }


// [class^="span"] {background-color: rgba(255, 0, 0, 0.3); }

@media (min-width: 768px) and (max-width: 979px) 
    .form-horizontal .control-label
        float none
        width auto
        padding-top 0
        text-align left
    .form-horizontal .controls
        margin-left 0
    .form-horizontal .control-list
        padding-top 0
    .form-horizontal .form-actions
        padding-right 10px
        padding-left 10px


